<div class="container">
<div class="h1">Create a new List</div>

<%= simple_form_for [ @list ] do |f| %>
  <%= f.input :name %>
  <%= f.submit "Create List", class: "btn btn-success" %>
<% end %>

<%= link_to 'Back', root_path %>
</div>
