<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 my-5">
      <span class="material-icons-outlined">add_circle_outline</span>
      <h5 class="mb-5">New Bookmark</h5>
      <%= simple_form_for [ list, bookmark ] do |f| %>
        <%= f.association :movie, collection: Movie.order(:title) %>
        <%= f.input :comment %>
        <div class="d-grid">
          <%= f.submit "Add new Bookmark", class: 'btn btn-secondary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
