<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h3>Review this list!</h3>

      <%= simple_form_for [ list, review ] do |f| %>
        <%= f.input :comment %>
        <%= f.input :rating %>
        <%= f.submit "Add new Review", class: 'btn btn-success'%>
      <% end %>

    </div>
  </div>
</div>
